:root {
  --wine-color: #852626;
  --white-color: #fff;
  --light-color: #d3d3d3;
  --dark-color: #444;
  --light2-color: #DACC96;

  --main-font: Open-sans;
}

body {
  min-height: 100vh;
  margin: 0;


    display: grid;
    grid-template-columns: 1fr 80vw;
    grid-template-rows: 50vh 1fr 30vh;
    grid-template-areas:
      "header header"
      "sidebar article"
      "footer footer";
}

header {
  grid-area: header;
}

sidebar {
  grid-area: sidebar;
}

article {
  grid-area: article;
}

footer {
  grid-area: footer;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Imagenes/cinema-4213751_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.header__texts {
  padding: 1em;
  text-align: center;
  letter-spacing: 1px;
  color: var(--white-color);
}

.header__title {
  font-size: 2.5rem;
  font-weight: 500;
  color: beige;
}

.header__subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.3em 0;
  color: var(--light-color);
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 22px;
  background-color: var(--wine-color);
  color: var(--white-color);
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

@media (hover: hover) {
  .button:hover {
    transform: translateX(10px);
    cursor: pointer;
  }
}

#navHome {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background: rgb(5 5 5 / 10%);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -36px;
}

#ulNavbar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
  font-size: 15px;
}

.liNavbar {
  display: inline;
}


.liNavbar a {
  text-decoration: none;
  color: white;
  transition: color 0.4s ease;
}

.liNavbar a:hover {
  color: var(--wine-color);
}

main {
  padding: 20px;
}

sidebar {

  padding: 20px;
  color: #632626;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.footer-content p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociales {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  padding-inline-start: 10px;
}

.sociales li {
  margin: 0 10px;

}

.sociales a {
  text-decoration: none;
  color: #fff;
}

.sociales a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.sociales a:hover i {
  color: var(--wine-color);
}

.footer-bottom {
  background: #000;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}