:root {
  --wine-color: #852626;
  --white-color: #fff;
  --light-color: #d3d3d3;
  --dark-color: #444;
  --light2-color: #DACC96;

  --main-font: Open-sans;
}

body {
  min-height: 100vh;
  margin: 0;


  display: grid;
  grid-template-columns: 1fr 80vw;
  grid-template-rows: 50vh 1fr 30vh;
  grid-template-areas:
    "header header"
    "sidebar article"
    "footer footer";
}

header {
  grid-area: header;
}

sidebar {
  grid-area: sidebar;
}

article {
  grid-area: article;
}

footer {
  grid-area: footer;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Imagenes/cinema-4213751_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.header__texts {
  padding: 1em;
  text-align: center;
  letter-spacing: 1px;
  color: var(--white-color);
}

.header__title {
  font-size: 2.5rem;
  font-weight: 500;
  color: beige;
}

.header__subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.3em 0;
  color: var(--light-color);
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 22px;
  background-color: var(--wine-color);
  color: var(--white-color);
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

@media (hover: hover) {
  .button:hover {
    transform: translateX(10px);
    cursor: pointer;
  }
}

#navHome {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background: rgb(5 5 5 / 10%);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

#ulNavbar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
  font-size: 15px;
}

.liNavbar {
  display: inline;
}


.liNavbar a {
  text-decoration: none;
  color: white;
  transition: color 0.4s ease;
}

.liNavbar a:hover {
  color: var(--wine-color);
}

main {
  padding: 20px;
}

sidebar {
  padding: 20px;
  color: #632626;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.text_filtro{
  align-self: center;
  color: black;
}

.footer-content p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.sociales {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  padding-inline-start: 10px;
}

.sociales li {
  margin: 0 10px;

}

.sociales a {
  text-decoration: none;
  color: #fff;
}

.sociales a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.sociales a:hover i {
  color: var(--wine-color);
}

.footer-bottom {
  background: #000;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.articulos {
  background-color: #4A2021
}

.body{
  background-color: #4A2021
}



.contenedor {
  width: 90%;
  max-width: 100%;
  margin: 40px auto 100px auto;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 40px;
}

.contenedor .pelicula {
  text-align: center;
}

.contenedor .pelicula .titulo {
  font-size: 17px;
  font-weight: 400;
  color: white
  
}

.genderButton
{
  font-size: 17px;
  font-weight: 400;
  color: white;
  
}

.contenedor .pelicula .poster {
  width: 100%;
  min-height: 20rem;
  min-width: 10rem;
  margin-bottom: 10px;
  border-radius: 15px;
}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar button {
  text-decoration: none;
  margin-left: 50px;
  font-size: 20px;
  padding: 10px;
  color: #943d42;
  background-color: rgb(223, 132, 29);
  display: block;
  border-radius: 8px;
  
}



/* Style links on mouse-over */
.sidebar button:hover {
  color: #f10808;
  cursor:pointer;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebarHeader_texts {
  padding: 1em;
  padding-bottom: 10px;
  text-align: left;
  letter-spacing: 1px;
  font-size: 30px;
  color: var(--white-color);
}

.sidebarSubHeader_texts
{
  padding: auto;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: left;

  letter-spacing: 1px;
  font-size: 23px;
  color: var(--white-color);
}
